<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/recipes">All Recipes</a>
    <% if(user) { %>
        <a href="/recipes/new">Add a Recipe</a>
        <a href="/recipes/myRecipes"><%= user.name %></div></a>
        <a href="/logout">LOG OUT</a>
    <%  } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>