<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/recipes">All Recipes</a>
      <% if(user) { %>
          <a class="nav-link" href="/recipes/new">Add a Recipe</a>
          <a class="nav-link" href="/recipes/myRecipes"><%= user.name %></div></a>
          <a class="nav-link" href="/logout">LOG OUT</a>
      <%  } else { %>
          <a class="nav-link" href="/auth/google" class="login">LOG IN</a>
      <% } %>
    </nav>
    <h2><%= title %></h2>