<%- include('partials/header') %>

<div class="body-text">
    A place where homecooks and chefs alike can share their favorite
    recipes and discover new recipes to try on their own.
</div>

<%- include('partials/footer') %>