body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(63, 78, 79);
  color: rgb(220, 215, 201);
  display: flex;
  flex-direction: column;
}

header{
  background-color: rgb(44, 54, 57);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: rgb(162, 123, 92);
}

#page-title {
  padding: 20px;
}

.nav-link {
  color: rgb(220, 215, 201);
  align-content: center;
  font-size: larger;
}

.nav-link:hover {
  color: rgb(162, 123, 92);
}


#name-input, #image-input {
  background-color: rgb(44, 54, 57);
  color: rgb(220, 215, 201);
  border-color: rgb(162, 123, 92);
}


#ingredients, #instructions {
  background-color: rgb(44, 54, 57);
  color: rgb(220, 215, 201);
  border-color: rgb(162, 123, 92);
}

button {
  background-color: rgb(44, 54, 57);
  color: rgb(220, 215, 201);
  border-radius: 15%;
}

button:hover {
  background-color: rgb(162, 123, 92);
}

img {
  width: 250px;
}

#new-recipe-form {
  display: flex;
  justify-content: center;
}

#form-submit-new {
  background-color: rgb(44, 54, 57);
  color: rgb(220, 215, 201);
  border: none;
}

#form-submit-new:hover {
  background-color: rgb(162, 123, 92);
}

.form-label {
  font-size: larger;
}

.details {
  margin-left: 20px;
  padding: 5px;
  background-color: rgb(44, 54, 57);
  border-radius: 15%;
}

.details:hover {
  color: rgb(220, 215, 201);
}

.index-img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.delete-form {
  display: flex;
  justify-content: flex-end;
}

#recipe-index {
  padding-top: 20px;
}

.button {
  border: none;
  height: 25px;
}



