<%- include('../partials/header') %>

<form action="/recipes/<%= comment._id %>/comments?_method=PUT" method="POST">
    <input type="text" name="comment" value="<%= comment.comment %>">
    <button type="submit">Update Comment</button>
</form>

<%- include('../partials/footer') %>