<%- include('../partials/header') %>


<form id="newRecipe" action="/recipes" method="POST">
    <div class="form-group">
        <label class="form-label">Recipe Title:</label>
        <br>
        <textarea type="text" class="form-control" id="name-input" name="name"></textarea>
    </div>
    <div class="form-group">
        <br>
        <label class="form-label">Picture of Recipe(Please enter link to image):</label>
        <br>
        <textarea type="text" class="form-control" id="image-input" name="image"></textarea>
    </div>
    <div class="form-group">
        <br>
        <label for="ingredients" class="form-label">Ingredients(seperate with a semi-colon):</label>
        <textarea name="ingredients" class="form-control" id="ingredients" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group">
        <br>
        <label for="instuctions" class="form-label">Instructions(seperate steps with a semi-colon):</label>
        <textarea name="instructions" class="form-control" id="instructions" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group">
        <br>
        <button type="submit" id="form-submit-new" class="btn btn-primary">Add Recipe</button>
    </div>
</form>


<%- include('../partials/footer') %>