<%- include('../partials/header') %>

<form id="newRecipe" action="/recipes" method="POST">
    <label>Recipe Title:</label>
    <input type="text" name="name">
    <br>
    <label>Picture of Recipe(Please enter link to image):</label>
    <input type="text" name="image">
    <br>
    <label for="ingredients">Ingredients(seperate with a semi-colon):</label>
    <br>
    <textarea name="ingredients" id="ingredients" cols="30" rows="10"></textarea>
    <br>
    <label for="instuctions">Instructions(seperate steps with a semi-colon):</label>
    <br>
    <textarea name="instructions" id="instructions" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Add Recipe</button>
</form>

<%- include('../partials/footer') %>